
@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
html {
    position: relative;
    min-height: 100%;
}
body {
	font-family: 'Share Tech Mono', monospace;
	background-color: #9a9a9a;
	width: 95%;
	margin: auto;
	margin-bottom: 75px;
}
a, a:link, a:visited {
	text-decoration: none;
	color: white;
}
a:hover, a:visited:hover {
	text-decoration: underline;
}
h1 {
	color: whitesmoke;
	text-shadow: 6px 6px 3px #676767;
	margin-bottom: 5px;
	font-size: 3.5em;
	text-align: center;
}
h2 {
	font-size: 2em;
}
p {
	text-align: justify;
	font-size: 1.2em;
}
nav ul {
	padding:5px;
}
nav ul li{
	font-size: 1.8em;
	text-align: center;
	list-style: none;
	border: 2px black solid;
	border-radius: 0.5em;
	background-color: #bcbcbc;
	box-shadow: 3px 3px 2px #676767;
}
nav ul li.current {
	color: whitesmoke;
}
img {
	width: 100%;
	border-radius: 2.5em;
}
footer p{
	text-align: center;
}
@media (min-width: 600px) {
	main {
		margin: auto;
		width: 95%;
	}
	nav ul {
		text-align: center;
		padding:5px;
	}
	nav ul li{
		display: inline;
		text-align: center;
		list-style: none;
		padding: 5px;
		padding-left: 20px;
		padding-right: 20px;
	}
	main img {
		width: max-content;
		float: left;
		margin-right: 25px;
		margin-bottom: 5px;
	}
	footer {
		height: 75px;
		position: absolute;
        width: inherit;
		overflow: hidden;
        bottom: 0px;
	}
}