{% extends "base.html" %}

{% block content %}
	<p>Hailing from the sleepy neighborhood of Seaview in West Seattle, Austin has spent his entire adult life in the Pacific Northwest. After attending high school in Bellevue, Austin graduated from Seattle Central Community College with an Associate of Arts Degree.</p>
	<p>Intent to further his knowledge of food, agriculture, and the environment; Austin attended Washington State University as a transfer student. While studying, he worked as a field hand at several farms, sold produce at farmers markets, and was a laboratory technician for the Department of Plant Pathology. Graduating with honors in 2014 with a Bachelor of Science degree focusing on organic agriculture, he has moved back to his hometown of Seattle to connect with a wider, more diverse array of people.</p>
	<p>Currently pursuing computer science, Austin is striving to combine his interest in computers and technology with improving the world for the greater good.</p>
{% endblock %}