{% extends "base.html" %}

{% block content %}
<img id="headshot" src="{{ url_for('static', filename='images/me_square_400.jpg') }}" alt="A photograph of the website's author." />
<div id="main_desc">
	<h2>Freelance Web Design, Computer Programming, and Technical Writing</h2>
	<p>Throughout my adult life, I have been computers and software to improve myself and the people around me. To further my desire to use these technologies to do more good in the world, I am enthusiastically learning how to program. Since beginning my studies in April of 2017, I have learned to think in new ways. I am able to break a problem down into smaller parts, and combine simple solutions to create a greater whole. I am eager to use the knowledge I’ve acquired in a professional setting.</p>
	<p>While my education began only a short time ago, I have been able to construct and maintain web-based applications and informational websites, as well as develop client-side programs. Most of my programs have been written in the Python language, but I am progressing in my study of C, JavaScript, and Rust to augment my knowledge. In addition, I have been exploring the capabilities of PHP, HTML, and CSS for application development.</p>
	<p>In my career, I have been noted as being a hard worker and quick learner, able to acquire and maintain relevant information in a short period of time. Utilizing these skills, I have thrived in both the agricultural and sectors, and am now ready to take a new step in my employment.</p>
</div>
{% endblock %}
