{% extends "base.html" %}

{% block content %}
	<div class='box'>
	<h3>Languages Known</h3>
		<ul>
			<li>Python</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>MySQL</li>
		</ul>
	</div>
	<div class='box'>
	<h3>Languages Learning</h3>
		<ul>
			<li>JavaScript</li>
			<li>C++</li>
			<li>Rust</li>
		</ul>
	</div>
	<div class='box'>
	<h3>Experienced Operating Systems</h3>
		<ul>
			<li>GNU/Linux</li>
				<ul>
					<li>Fedora</li>
					<li>Ubuntu</li>
					<li>openSUSE</li>
					<li>Gentoo</li>
				</ul>
			<li>Windows</li>
			<li>FreeBSD</li>
			<li>Android</li>
			<li>OS X</li>
			<li>Solaris</li>
		</ul>
	</div>
	<div class='box'>
	<h3>Programs Familiar With</h3>
		<ul>
			<li>Visual Studio Code</li>
			<li>Atom</li>
			<li>FileZilla</li>
			<li>Microsoft Office</li>
			<li>Libre Office</li>
			<li>Inkscape</li>
			<li>Gimp</li>
		</ul>
	</div>
	<div class='box'>
	<h3>Current Projets</h3>
		<p class='center'>Please see my <a href="https://github.com/austinlesure">GitHub</a> page!</p>
	</div>
{% endblock %}
